body {
    font-family: 'IBM Plex Sans JP', sans-serif;
}


.custom {
text-align: center;
width: bold;
height: 2px;
}

.step{
    height: 1px;
 font-size: 10px;
text-align: center;
color:#B5B8B1 ;

}


.company-name {
    color: red;
    font-weight: bold;
}

.registr-log {
    text-align: center;

}


input[type="text"] {
   
    border-radius: 5px;
    border: 1px solid;
    border-color: #B5B8B1;
    outline: none;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans JP', sans-serif;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-clip: padding-box;
    margin-bottom: 20px;
    

}

.inputr{
    width:50px;
    margin-left: 50;
        margin-left: 5px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-top: 10px;
}

.inputr2{
    width: 210px;
    margin-left: px;
    padding-left: 10px;
    padding-left: px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.inputr1 {
    font-family: 'IBM Plex Sans JP', sans-serif;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-clip: padding-box;
    margin-bottom: 20px;
    box-sizing: border-box;
    outline: none;
    border-color: #B5B8B1;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 10px;
    padding-left: 10px;
    width: 270px;   
    padding-bottom: 10px;
    padding-top: 10px;
}

input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}




.bbra {
    font-size: 20px;
    color: rgb(255, 253, 253);
    background: #e4e2e2;
    text-decoration: none;
    padding: 10px 111px;
    border-radius: 5px;
    background-size: 200%;
    transition: .5s;
    border-width: 5cm;
    margin: 100px;
    

}

.bbra:hover {
    background-color: blue;

}


.start {
    color: black;
}

::-webkit-input-placeholder {

    color: gray;
}

.txt{
  
    color: gray;
    display: inline-block;
}

.link{
    text-decoration: none;
    color: blue;
}
